body {
    margin: 0;
    padding: 0;
}

/**** SCENOGRAFI ***/

#scene {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    overflow: hidden;
}

#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/scenografi.svg);
    background-size: 100% 100%;
    z-index: 1;
}

#laptop {
    position: absolute;
    bottom: 8.5%;
    left: 45%;
    width: 29vw;
    height: 23.5vw;
    background-image: url(img/laptop.svg);
    background-size: 100% 100%;
    z-index: 17;

    transition: all 0.5s ease;
    transform: scale(0.9);
}

#laptop:hover {
    transform: scale(1);
}

#plakat {
    position: absolute;
    z-index: 20;
    background-image: url(img/plakat.svg);
    background-size: 100% 100%;
    width: 13vw;
    height: 16.6vw;

    transition: all 0.5s ease;
    transform: scale(0.8);

    left: 4%;
    top: 9%;
}

#plakat:hover {
    transform: scale(0.9);
}

#ur {
    position: absolute;
    z-index: 25;
    background-image: url(img/ur.svg);
    background-size: 100% 100%;
    width: 8vw;
    height: 8vw;
    top: 10%;
    right: 6%;
    transition: all 0.5s ease;
}

#ur:hover {
    transform: scale(1.15);
}

#titel {
    position: absolute;
    z-index: 25;
    background-image: url(img/tavle.svg);
    background-size: 100% 100%;
    width: 84vw;
    height: 50vw;
}

.titel_ind {
    left: 8%;
    top: -100%;
    animation-name: titel_ind_kf;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes titel_ind_kf {
    0% {
        left: 8%;
        top: -100%;
    }

    30% {
        left: 8%;
        top: 9%;
    }

    65% {
        left: 8%;
        top: 5%;
    }


    100% {
        left: 8%;
        top: 5%;
    }

}

.titel_start_pos {
    left: 8%;
    top: -100%;
}

#titel h2 {
    margin-left: 6%;
    margin-top: 6%;
    font-family: 'Londrina Sketch', cursive;
    color: white;
    font-size: 3em;
}

#titel p {
    margin-left: 6%;
}


/**** KARAKTERERE ***/

#laerer_container {
    position: absolute;
    top: -7vw;
    left: 45vw;
    z-index: 15;
}

.laerer_sprite {
    background-image: url(img/laerer.svg);
    background-size: 400%;
    width: 40vw;
    height: 60vw;
    transform: scale(0.7);
    animation-name: laerer_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes laerer_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -400% 0%;
    }
}

/***************************** SCENE 2 **************************/

#scene_2 {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    overflow: hidden;
}

#baggrund_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/scene_2_img.svg);
    background-size: 100% 100%;
    z-index: 1;
}

#haand_container {
    position: absolute;
    height: 100vw;
    width: 65vw;
    z-index: 1;
    animation-name: move_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes move_kf {

    0% {
        right: -80%;
        top: 50%;
    }
    100% {
        right: 17%;
        top: 5%
    }
}

#mobil_container {
    position: absolute;
    background-color: green;
    width: 17.7vw;
    height: 30.8vw;
    left: 10.9%;
    top: 7.5%;

    z-index: 4;
    overflow: hidden;
}

#mobil_container2 {
    position: absolute;
    background-color: blue;
    width: 17.7vw;
    height: 30.8vw;
    left: 10.9%;
    top: 7.5%;

    z-index: 5;
    overflow: hidden;
    opacity: 0;
}

#slide_ind {
    position: absolute;
    background-color: blue;
    width: 5vw;
    height: 5vw;
    top: 40%;
    left: 18%;
    animation-name: slide_ind_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s
}

@keyframes slide_ind_kf {
    0% {
        left: 18%;
    }

    100% {
        left: 100%;
    }
}

#haand_flade_sprite {
    position: absolute;
    background-image: url(/img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100%;
    width: 100%;
    z-index: 3;
}

#haand_fingre_sprite {
    position: absolute;
    background-image: url(img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100%;
    width: 100%;
    background-position: 0 200%;

    z-index: 5;
}

#haand_tommelfinger_sprite {
    position: absolute;
    background-image: url(img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100%;
    width: 100%;
    background-position: 0% 250%;
    animation-name: thumb_kf;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
    animation-timing-function: steps(4);

    z-index: 5;
}


@keyframes thumb_kf {
    0% {
        background-position: 0% 250%
    }
    100% {
        background-position: -400% 250%
    }

}
