body {
    margin: 0;
    padding: 0;
}

/**** SCENOGRAFI ***/

#scene {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    overflow: hidden;
}

#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/scenografi5.svg);
    background-size: 100% 100%;
    z-index: 1;
}

#forgrund {
    position: absolute;
    bottom: -1%;
    left: 15%;
    width: 66vw;
    height: 28.40vw;
    background-image: url(img/forgrund.svg);
    background-size: 100% 100%;
    z-index: 17;
}

#plakat {
    position: absolute;
    z-index: 20;
    background-image: url(img/plakat.svg);
    background-size: 100% 100%;
    width: 13vw;
    height: 16.6vw;

    transition: all 0.5s ease;

    left: 4%;
    top: 9%;
}

#plakat:hover {
    transform: scale(1.1);
}

#titel {
    position: absolute;
    z-index: 20;
    background-image: url(img/tavle.svg);
    background-size: 100% 100%;
    width: 84vw;
    height: 50vw;
}

.titel_ind {
    left: 8%;
    top: -100%;
    animation-name: titel_ind_kf;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes titel_ind_kf {
    0% {
        left: 8%;
        top: -100%;
    }

    30% {
        left: 8%;
        top: 9%;
    }

    65% {
        left: 8%;
        top: 5%;
    }


    100% {
        left: 8%;
        top: 5%;
    }

}

.titel_start_pos {
    left: 8%;
    top: -100%;
}

#titel h2 {
    margin-left: 6%;
    margin-top: 6%;
    font-family: 'Londrina Sketch', cursive;
    color: white;
    font-size: 3em;
}

#titel p {
    margin-left: 6%;
}


/**** KARAKTERERE ***/

#laerer_container {
    position: absolute;
    top: -7vw;
    left: 45vw;
    z-index: 15;
}

.laerer_sprite {
    background-image: url(img/laerer.svg);
    background-size: 400%;
    width: 40vw;
    height: 60vw;
    transform: scale(0.7);
    animation-name: laerer_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes laerer_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -400% 0%;
    }
}
