body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/**** SCENOGRAFI ***/

#scene {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    overflow: hidden;
}

#scene_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#scene_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#baggrund {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/scenografi.svg);
    background-size: 100% 100%;
    z-index: 1;
}

#laptop {
    position: absolute;
    bottom: 8.5%;
    left: 45%;
    width: 29vw;
    height: 23.5vw;
    background-image: url(img/laptop.svg);
    background-size: 100% 100%;
    z-index: 17;

}

/*
#laptop:hover {
    transform: scale(1);
}
*/

#plakat {
    position: absolute;
    z-index: 20;
    background-image: url(img/plakat.svg);
    background-size: 100% 100%;
    width: 13vw;
    height: 16.6vw;

    transition: all 0.5s ease;
    transform: scale(0.8);

    left: 4%;
    top: 9%;
}

#plakat:hover {
    transform: scale(0.9);
}

#bog {
    position: absolute;
    background-image: url(img/bo.svg);
    z-index: 10;
    background-size: 100% 100%;
    width: 17vw;
    height: 13vw;
    left: 24%;
    top: 70%;
}

#ur {
    position: absolute;
    z-index: 25;
    background-image: url(img/ur.svg);
    background-size: 100% 100%;
    width: 8vw;
    height: 8vw;
    top: 10%;
    right: 6%;
    transition: all 0.5s ease;
}

#ur:hover {
    transform: scale(1.15);
}


#titel {
    position: absolute;
    z-index: 25;
    background-image: url(img/smartboard.svg);
    background-size: 100% 100%;
    width: 84vw;
    height: 50vw;
}



.titel_ind {
    animation-name: titel_ind_kf;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes titel_ind_kf {
    0% {
        left: 8%;
        top: -100%;
    }

    30% {
        left: 8%;
        top: 9%;
    }

    65% {
        left: 8%;
        top: 5%;
    }


    100% {
        left: 8%;
        top: 5%;
    }

}

.titel_ud {
    animation-name: titel_ud_kf;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes titel_ud_kf {
    0% {
        left: 8%;
        top: 5%;
    }

    30% {
        left: 8%;
        top: 9%;
    }

    100% {
        left: 8%;
        top: -100%;
    }

}

.titel_start_pos {
    left: 8%;
    top: -100%;
}

#titel h2 {
    margin-left: 6%;
    margin-top: 6%;
    color: white;
    font-size: 3em;
}

#titel p {
    margin-left: 6%;
}

/*** SLUT TITEL **/

#sluttitel {
    position: absolute;
    z-index: 25;
    background-color: #333333;
    background-image: url(img/titelslut.svg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}


.sluttitel_ind {
    opacity: 0;
    left: 0%;
    top: 0%;
    animation-name: sluttitel_ind_kf;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.logo {
    position: absolute;
    z-index: 27;
    background-image: url(img/PrivatSnak_logo.svg);
    background-size: 100% 100%;
    width: 16vw;
    height: 11.5vw;
    left: 69%;
    top: 68%;

    transition: all 0.5s ease;
    animation-name: hover_kf;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.logo:hover {
    transform: scale(1.1);
}

@keyframes hover_kf {
    0% {
        left: 69%;
        top: 68%;
    }

    100% {
        left: 69%;
        top: 71%;
    }
}

.logo:hover {
    transform: scale(1.1);

}

#sluttitel h2 {
    position: absolute;
    font-size: 4vw;
    color: white;
    top: 70%;
    left: 5%;
}

@keyframes sluttitel_ind_kf {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}


.sluttitel_start_pos {
    opacity: 0;
    left: 0%;
    top: 0%;
}

#sluttitel p {
    margin-left: 6%;
}

#lampe {
    position: absolute;
    right: 8.9%;
    top: -13%;
    z-index: 26;
    background-image: url("img/lampe.svg");
    background-size: 100% 100%;
    width: 28vw;
    height: 61.32vw;
}


/**** KARAKTERERE ***/

#laerer_container {
    position: absolute;
    top: -7vw;
    left: 45vw;
    z-index: 15;
}

.laerer_sprite {
    background-image: url(img/laerer.svg);
    background-size: 400%;
    width: 40vw;
    height: 60vw;
    transform: scale(0.7);
    animation-name: laerer_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes laerer_kf {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -400% 0%;
    }
}

/***************************** SCENE 2 **************************/

#baggrund_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/scene_2_img.svg);
    background-size: 100% 100%;
    z-index: 1;
}

#haand_container {
    position: absolute;
    background-image: url(img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100vw;
    width: 65vw;
    z-index: 1;
    animation-name: move_kf;
    animation-duration: 2s;
    animation-fill-mode: forwards;


}

@keyframes move_kf {

    0% {
        right: -80%;
        top: 50%;
    }
    100% {
        right: 17%;
        top: 5%
    }
}

#screen {
    position: absolute;
    width: 17.7vw;
    height: 30.8vw;
    left: 10.9%;
    top: 7.5%;
}

#mobil_container {
    position: absolute;
    background-image: url(img/baggrund_telefon.svg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
}

#mobil_container2 {
    position: absolute;
    background-color: #e2e2e2;
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 5;
    overflow: hidden;
}

.mobil_container2_vis {
    opacity: 1;
    animation-delay: 3s;
    animation-name: fade_in_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade_in_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#slide_ind {
    position: absolute;
    background-image: url(img/slide_boks.svg);
    background-size: 100%;
    width: 10vw;
    height: 3.7vw;
    top: 39%;
    left: 10%;
    animation-name: slide_ind_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s
}

@keyframes slide_ind_kf {
    0% {
        left: 10%;
    }

    100% {
        left: 100%;
    }
}

#haand_fingre_sprite {
    position: absolute;
    background-image: url(img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100%;
    width: 100%;
    background-position: 0 200%;

    z-index: 5;
}

#haand_tommelfinger_sprite {
    position: absolute;
    background-image: url(img/spritesheet_hand.svg);
    background-size: 400% 300%;
    height: 100%;
    width: 100%;
    background-position: 0% 250%;
    animation-name: thumb_kf;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
    animation-fill-mode: forwards;
    animation-delay: 2s;

    z-index: 5;
}


@keyframes thumb_kf {
    0% {
        background-position: 0% 250%
    }
    100% {
        background-position: -199.8% 250%
    }

}


.haand_lock_screen {}

#topbar {
    position: absolute;
    left: -2%;
    top: -1%;
    background-image: url(img/topbar.svg);
    background-size: 100%;
    z-index: 7;
    width: 18.2vw;

    height: 3.2vw;
    margin: 0;
}



#besked1 {
    position: absolute;
    background-image: url(img/besked_et.svg);
    background-size: 100%;
    z-index: 6;
    width: 6vw;
    height: 3.2vw;
    top: 12%;
    left: 4%;
}

.besked1_up {
    top: 12%;
    left: 4%;
    animation-name: besked1_up_kf;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    /*    animation-delay: 2s;*/
}

@keyframes besked1_up_kf {

    0% {
        top: 12%;
        left: 4%;
    }
    100% {
        top: -1%;
        left: 4%;
    }
}

#besked2 {
    position: absolute;
    background-image: url(img/besked_to.svg);
    background-size: 100%;
    z-index: 6;
    width: 10vw;
    height: 3.1vw;
    left: -100%;
}

.besked2_move {
    top: 24.5%;
    left: 100%;
    animation-name: besked_to_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /*    animation-delay: 2s;*/
}

@keyframes besked_to_kf {

    0% {
        left: 100%;
    }
    100% {
        left: 40%;
    }
}

.besked2_up {
    top: 24.5%;
    left: 40%;
    animation-name: besked2_up_kf;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    /*    animation-delay: 2s;*/
}

@keyframes besked2_up_kf {

    0% {
        top: 22.5%;
        left: 40%;
    }
    100% {
        top: 5.5%;
        left: 40%;
    }
}



#besked3 {
    position: absolute;
    background-image: url(img/besked_tre.svg);
    background-size: 100%;
    z-index: 6;
    width: 12vw;
    height: 5vw;
    left: -100%;
}

.besked3_move {
    top: 37%;
    left: 100%;
    animation-name: besked_tre_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /*    animation-delay: 3s;*/
    /*animation-iteration-count: infinite; */
}


@keyframes besked_tre_kf {

    0% {
        left: -65%;
    }
    100% {
        left: 4%;
    }
}

.besked3_up {
    top: 18%;
    left: 4%;
    animation-name: besked3_up_kf;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    /*    animation-delay: 2s;*/
}

@keyframes besked3_up_kf {

    0% {
        top: 37%;
        left: 4%;
    }
    100% {
        top: 18.6%;
        left: 4%;
    }
}


#besked4 {
    position: absolute;
    background-image: url(img/besked_fire.svg);
    background-size: 100%;
    z-index: 6;
    width: 12vw;
    height: 10.96vw;
    left: -100%;
}

.besked4_move {
    top: 55.5%;
    animation-name: besked_fire_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /*    animation-delay: 1s;*/
}

@keyframes besked_fire_kf {
    0% {
        left: -65%;
    }
    100% {
        left: 4%;
    }
}

.besked4_up {
    top: 37.1%;
    left: 4%;
    animation-name: besked4_up_kf;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    /*    animation-delay: 2s;*/
}

@keyframes besked4_up_kf {

    0% {
        top: 50.5%;
        left: 4%;
    }
    100% {
        top: 37.6%;
        left: 4%;
    }
}

#besked5 {
    position: absolute;
    background-image: url(img/besked_fem.svg);
    background-size: 100%;
    z-index: 6;
    width: 12vw;
    height: 6.48vw;
}

.besked5_startpos {
    left: 100%;
    top: 76%;
}

.besked5_ind {
    animation-name: besked5_ind_kf;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes besked5_ind_kf {
    0% {
        left: 100%;
        top: 76%;
    }

    100% {
        left: 27%;
        top: 76%;
    }
}


.hvadvildugoere {
    position: relative;
    left: 54vw;
    top: 10vw;
    height: 8vw;
    width: 35vw;
    background-color: #e9eced;
    z-index: 50;
    font-size: 3.4vw;
    border-radius: 20px;
    line-height: 2.5;
    font-family: 'roboto', sans-serif;
    color: black;
    text-align: center;
}

.move_up {
    padding-top: 0;
    animation-delay: 1s;
    animation-name: move_up_kf;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}


@keyframes move_up_kf {
    0% {
        padding-top: 0;
    }

    100% {
        padding-top: -20%;
    }
}

/****** TELEFONER INDSAMLING *******/

.telefoner_container {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 55;
}

.iphone {
    width: 9.4vw;
    height: 17.1vw;
    background-image: url(img/iphone%20.svg);
    background-size: cover;
    position: absolute;
    transform: scale(1.5);
    z-index: 55;

    animation-name: pulse_kf;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes pulse_kf {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.7);
    }
}

.pos1 {
    top: 45%;
    left: 65%;
}

.pos2 {
    top: 20vw;
    left: 0vw;
}

.pos3 {
    top: 5vw;
    left: 15vw;
}

.pos4 {
    top: 2vw;
    left: 30vw;
}

.pos5 {
    top: 20vw;
    left: 80vw;
}

.pos6 {
    top: 10vw;
    left: 60vw;
}

.pos7 {
    top: 50%;
    left: 33vw;
}

.pos8 {
    top: 65%;
    left: 5%;
}

.pos9 {
    top: 70%;
    left: 60vw;
}

.pos10 {
    top: 60%;
    left: 90%;
}

.pos11 {
    top: 30%;
    left: 45%;
}

.pos12 {
    top: 5%;
    left: 90%;
}

/******* BUTTONS *******/

.btn_start {
    position: absolute;
    background-color: #f4912d;
    font-family: 'roboto', sans-serif;
    font-size: 8vw;
    border-radius: 10px;
    width: 20vw;
    height: 10vw;
    left: 35%;
    border: 2vw black;
    font-size: 8vw;
    z-index: 50;
    top: 40%;
    color: white;
    line-height: 1;
    transition: all 0.4s ease;
}

.btn_start:hover {
    cursor: pointer;
    transform: scale(1.1);


}

.btn_del {
    position: absolute;
    background-color: #202532;
    border-radius: 20px;
    width: 20vw;
    height: 8vw;
    left: 61%;
    top: 40%;
    outline: 0;
    font-size: 3.4vw;
    z-index: 50;
    color: white;

    border: none;
    transition: all 0.4s ease;


}

.btn_del:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn_del_ikke {
    position: absolute;
    background-color: #f4912d;
    border-radius: 20px;
    width: 20vw;
    height: 8vw;
    left: 61%;
    top: 60%;
    outline: 0;
    font-size: 3.4vw;
    z-index: 50;
    color: white;

    border: none;
    font-family: 'roboto', sans-serif;
    transition: all 0.4s ease;


}

.btn_del_ikke:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn_billede_er_delt {
    position: relative;
    left: 58%;
    top: 40%;
    height: 9vw;
    width: 40vw;
    background-color: #f4912d;
    z-index: 50;
    font-size: 3.4vw;
    border: 30px;
    text-align: center;
    color: white;
    border-radius: 20px;
    font-family: 'roboto', sans-serif;
    transition: all 0.4s ease;

}

.btn_billede_er_delt:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn_indsaml {
    position: absolute;
    left: 16%;
    top: 3%;
    height: 9vw;
    width: 70vw;
    background-color: #f4912d;
    z-index: 50;
    font-size: 3.8vw;
    border: 30px;
    border-radius: 20px;
    color: white;
    font-family: 'roboto', sans-serif;

}



/*********** LYD **************/

#lyd {
    display: none;
}
